.title{
	font-family: "nanumgothic", verdana;
	font-size: 25px;
	color: #000000;
	font-weight: bold;
}
.font9 {
    font-size: 9px;
}
.td1 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0px 0px 1px;
}
.td2 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 2px 0px 1px;
}
.td3 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0px 0px 2px;
}
.td4 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0px 0px 1px;
}
.td5 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 2px 0px 1px;
}
.td6 {
    border-style: solid;
    border-color: #000000;
    border-width: 2px 0px 0px 2px;
}
.td7 {
    border-style: solid;
    border-color: #000000;
    border-width: 2px 2px 0px 0px;
}
.td8 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0px 0px 0px;
}
.td9 {
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 1px 0px;
}
.td10 {
    border-style: solid;
    border-color: #000000;
    border-width: 2px 2px 2px 1px;
}
.padding10 {
    padding:10px;
}
.lineHeight30 {
    line-height:30px;
}
.lineHeight20 {
    line-height:20px;
}